/* sobre */
body{
    margin: 0px 260px 0px 260px;
    /* padding: 0px 120px 0px 80px; */
}
.titulo_nivel-1{
    
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 1px 1px 1px 20px;

}
.tilulo_nivel-2{
    margin: 5px 0px 5px 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
    
}
#logo{
    padding: 0%;
}
figure{
    
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;
    padding: 15px;
    border: 1px solid lightgrey;
    
}
figure img { 
    width: 100%;
}
#Matrix-musicdot{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
#familia{
    width: 275px;
    margin: 0 0 10px 10px;
    float: right;
}
figcaption{
    padding: 10px;
    color: #3D3D3D;
}
/* inicio */
#header_inicio{
    background-color: #2D5377;
}
/* contato */
.box_dados{
    width: 500px;
    height: 30px;
    margin: 10px;
    display: block;
    margin-bottom: 10px;
    border: 1px #272626 solid;
}
.Box_Opinião{
    display: block;
    margin: 10px;
    width: 500px;
    height: 300px;
    border: 1px #272626 solid;
    
}
.box_dados::placeholder{
    font-size: 15px;

}
.Box_Opinião::placeholder{
    font-size: 15px;
    
}
#botao{
    border:2px #272626 solid;
    width: 100px;
    height: 50px;
    margin: 10px 0px 0px 10px;
    background-color: #ffffff;
    color: #000000;
    font-size: 13px;
}
