body{
    margin: 0px 260px 0px 260px;
    /* padding: 0px 120px 0px 80px; */
}
#logo{
    padding: 0%;
}
figure{
    
    background-color: whitesmoke;
    margin:  2% 21% 4% 16%;
    padding: 1% 1% 1% 1%;
    
}
figcaption{
    margin: 1% 40% 1% 42%
}
h2{
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}
h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 0px 1px 0px 20px;
}