#logo{
    padding: 0%;
}
img{
    padding: 0% 25% 0% 20%;
}
figure{
    border: 0px solid;
    background-color: whitesmoke;
    margin:  0% 5% 0% 5%;
}
figcaption{
    margin: 0% 40% 0% 42%
}
h2{
    padding-bottom: 5px;
    border-bottom: 2px solid #000000;
}
h1{
    color: #3D3D3D;
    background-color: #E1EDF2;
}